{# Overrides Django admin's default submit row to add a red "Cancel" button. #}
{# Cancel links back to the model's list page, abandoning unsaved changes.   #}
{% load i18n admin_urls %}
<div class="submit-row">
{% block submit-row %}
{% if show_save %}<input type="submit" value="{% translate 'Save' %}" class="default" name="_save">{% endif %}
{% if show_save_as_new %}<input type="submit" value="{% translate 'Save as new' %}" name="_saveasnew">{% endif %}
{% if show_save_and_add_another %}<input type="submit" value="{% translate 'Save and add another' %}" name="_addanother">{% endif %}
{% if show_save_and_continue %}<input type="submit" value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}" name="_continue">{% endif %}
{% url opts|admin_urlname:'changelist' as cancel_url %}
<a role="button" href="{% add_preserved_filters cancel_url %}" class="cancellink button" style="background-color:#ba2121;color:#fff;">{% translate 'Cancel' %}</a>
{% if show_close %}
    {% url opts|admin_urlname:'changelist' as changelist_url %}
    <a role="button" href="{% add_preserved_filters changelist_url %}" class="closelink">{% translate 'Close' %}</a>
{% endif %}
{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <a role="button" href="{% add_preserved_filters delete_url %}" class="deletelink">{% translate "Delete" %}</a>
{% endif %}
{% endblock %}
</div>
